@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #0c0a09; /* stone-950 */
  color: #fafaf9; /* stone-50 */
}
